<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/employee/register.css}">
</head>
<body>
    <div class ="header">
    <h1>日報管理システム <span><a th:href="@{/employee/list}">従業員管理</a><a th:href="@{/report/top}">日報管理</a><a th:href="@{/login}"> ログアウト</a></span></h1>
    </div>
    <h2>従業員　新規登録ページ</h2>
    <form method="post" th:action="@{/employee/register}" th:object="${employee}">
        <label for="code">社員番号</label>
        <br>
        <input type="text" th:field="*{authentication.code}">
        <br>
        <label for="name">氏名</label>
        <br>
        <input type="text" th:field="*{name}">
        <br>
        <label for="password">パスワード</label>
        <br>
        <input type="text" th:field="*{authentication.password}">
        <br>
        <label for="role">権限</label>
        <br>
        <select th:field="*{authentication.role}">
            <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}">
        </select>
        <br>
        <input type="submit" value="投稿">
        <br>
        <a th:href="@{/employee/list}">一覧に戻る</a>
    </form>
</body>
</html>