@charset "UTF-8";

div.header {
	background-color:black;
	color:white;
	display:block;
}

span{
	font-size:20px;
}

span a{
    color:white;
    padding:10px;
    text-decoration: none;
}

th,td {
    border: solid 1px;   
    padding: 10px;           
}
 
table {
    border-collapse:  collapse;     
}
