@charset "UTF-8";

header {
	background-color:linear-gradient;
	display:block;
}

span{
	font-size:20px;
}

th,td {
    border: solid 1px;              
}
 
table {
    border-collapse:  collapse;     
}